<h1 style="margin:15%" class="text-center">Welcome back, {{firstName}}!</h1>
<a href="./secret" class='btn btn-primary d-block mx-auto mt-3'>登入才能看的秘密網頁</a>

<a href="/logout" class='btn btn-primary d-block mx-auto mt-3'>登出</a>
{{!-- <button >登出</button> --}}